<%= turbo_frame_tag "modal" do %>
  <div data-modal-target="content">
    <svg data-action="click->modal#hide" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fixed right-0 top-0  h-8 w-8 m-8 cursor-pointer" style="width: 32px; height: 32px; right: 0; margin: 10px; cursor: pointer;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
    <h1 class="font-semibold text-xl mb-8"><%= @title %></h1>
    <%= content %>
  </div>
<% end %>
